*{
  box-sizing: border-box;
}
.wrap{
  width: 100%;
}
.login-box{
  width: 500px;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
  padding: 40px;
  margin-bottom: 15px;
}
.login-img{
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.input-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  margin-bottom: 10px;
  background-color: #efefefc9;
}
.mt-20{
  margin-bottom: 20px;
}
.btn{
  width: 100%;
  border: none;
  background-color: rgba(30, 123, 222, 0.378);
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}
.line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.line-span{
  display: block;
  width: 44%;
  height: 1px;
  background-color: #dadada;
}
.line-p{
  color: #8e8e8e;
}
.box-2{
  width: 100%;
}
.box-2-a{
  display: flex;
  width: fit-content;
  margin: 0 auto;
  text-decoration: none;
  color: rgba(14, 14, 170, 0.739);
  margin-bottom: 20px;
}
.box-2-img{
  display: block;
  width: 20px;
  margin-right: 10px;
}
.s-a{
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 14px;
  text-decoration: none;
  color: #8e8e8e;
}
.box{
  width: 500px;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
}
.box-h3{
  width: 100%;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: 500;
}
.box-a{
  text-decoration: none;
  color: rgb(13, 78, 206);
}
.down-box{
  text-align: center;
  margin-bottom: 100px;
}
.img-group{
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 15px;
}
.d-img{
  display: block;
  width: 180px;
  cursor: pointer;
}
li{
  list-style: none;
}
.footer{
  text-align: center;
}
.f-ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.f-li{
  font-size: 14px;
  color: #8e8e8e;
  cursor: pointer;
}
.f-p{
  text-align: center;
  font-size: 14px;
  color: #8e8e8e;
}